<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="myDataSource" class="com.alibaba.druid.pool.DruidDataSource"
            init-method="init" destroy-method="close">
        <property name="url" value="jdbc:mysql://localhost:3306/emilytest?serverTimezone=UTC"></property>
        <property name="username" value="root"></property>
        <property name="password" value="1130"></property>
        <property name="maxActive" value="20"></property>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"></property>
        <property name="configLocation" value="classpath:mybatis.xml"></property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        <property name="basePackage" value="com.emily.dao"></property>
     </bean>

    <bean id="studentService" class="com.emily.service.impl.StudentServiceImpl">
        <property name="dao" ref="studentDao"></property>
    </bean>
</beans>